{% extends "adverts-base.html" %} 
{% block title %}EUR BUY{% endblock %}
{% block advert_type %}LocalBitcoins Buy (EUR){% endblock %}
{% block page %}eur-buy-marketplace{% endblock %}

{% block market_price %}€ {{ price_data['eur_btc_price'] }}{% endblock %}
{% block sell_price %}€ {{ price_data['eur_buy_price'] }}{% endblock %}
{% block price_floor %}€ {{ price_data['eur_buy_price_floor'] }}{% endblock %}
{% block margin %}{{ eur_config['BUY']['price_floor_percent'] }}%{% endblock %}

{% block table_content %} 
<tbody>
    {% for ad in eur_buy %}
<tr>
    {% if ad['targetting'] == 1 %}
    <th scope="row" style="color:rgb(70, 70, 70)">{{ad['ad_id']}}</th>
    <td style="color:rgb(70, 70, 70)">{{ad['username']}}</td>
    <td style="color:rgb(70, 70, 70)">{{ad['temp_price']}}</td>
    <td style="color:rgb(70, 70, 70)">{{ad['min_amount']}}</td>
    <td style="color:rgb(70, 70, 70)">{{ad['max_amount_available']}}</td>
    {% else %}
    <th scope="row" style="color:rgb(140, 140, 140)">{{ad['ad_id']}}</th>
    <td style="color:rgb(140, 140, 140)">{{ad['username']}}</td>
    <td style="color:rgb(140, 140, 140)">{{ad['temp_price']}}</td>
    <td style="color:rgb(140, 140, 140)">{{ad['min_amount']}}</td>
    <td style="color:rgb(140, 140, 140)">{{ad['max_amount_available']}}</td>
    {% endif %}
</tr>
    {% endfor %}
</tbody>
{% endblock %}